src/main/resources/org/kohsuke/stapler/idea/resources/schemas/fmt.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="jelly:fmt" elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation/>
  </xsd:annotation>

  <xsd:element name="timeZone">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;timeZone&gt;, the time zone loading
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation>Setter for property value.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="setTimeZone">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;setTimeZone&gt;, the time zone setting
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="setLocale">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;setLocale&gt;, the locale setting
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="variant">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="setBundle">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;setLocale&gt;, the bundle setting
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="basename">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="param">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;param&gt;, the parameter setting
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation>Setter for property value.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="message">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;message&gt;, the lookup up
        localized message tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="key">
        <xsd:annotation>
          <xsd:documentation>Setter for property key.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="bundle">
        <xsd:annotation>
          <xsd:documentation>Setter for property bundle.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation>Setter for property var.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation>Setter for property scope.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="formatDate">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;formatDate&gt;, the date and time formatting
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="value">
        <xsd:annotation>
          <xsd:documentation>Setter for property value.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="type">
        <xsd:annotation>
          <xsd:documentation>Setter for property type.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="dateStyle">
        <xsd:annotation>
          <xsd:documentation>Setter for property dataStyle.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="timeStyle">
        <xsd:annotation>
          <xsd:documentation>Setter for property timeStyle.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="pattern">
        <xsd:annotation>
          <xsd:documentation>Setter for property pattern.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="timeZone">
        <xsd:annotation>
          <xsd:documentation>Setter for property timeZone.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="var">
        <xsd:annotation>
          <xsd:documentation>Setter for property var.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="scope">
        <xsd:annotation>
          <xsd:documentation>Setter for property scope.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="bundle">
    <xsd:annotation>
      <xsd:documentation>Support for tag handlers for &lt;bundle&gt;, the resource bundle loading
        tag in JSTL.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence>
        <xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="basename">
        <xsd:annotation>
          <xsd:documentation>Setter for property basename.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="prefix">
        <xsd:annotation>
          <xsd:documentation>Setter for property prefix.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="trim">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="escapeText">
        <xsd:annotation>
          <xsd:documentation/>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
